# SPDX-License-Identifier: GPL-3.0-or-later
[Unit]
Description=ask whether to boot or not
DefaultDependencies=no
After=vsrfdi.service
Before=initrd.target
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly

[Service]
Type=oneshot
ExecStart=/usr/lib/vsrfdi/ask
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/console
