[Unit]
Description=verify_some_rootfs_files_during_initramfs
DefaultDependencies=no
RequiredBy=initrd-fs.target
After=initrd-fs.target
Before=initrd.target

[Service]
Type=oneshot
ExecStart=/usr/lib/vsrfdi/vsrfdi /etc/vsrfdi/pub /sysroot/etc/vsrfdi/filelist /sysroot/var/lib/vsrfdi/filelist.sig /sysroot /sysroot/var/lib/vsrfdi/signatures/
StandardOutput=tty
StandardError=tty
TTYPath=/dev/console